// article listing
.articles{
    list-style: none;
    margin: 0;
    padding: 43px 0 20px;

    .item{
        margin: 15px 0 30px;
        text-align: left;

        a{
            display: block;
            text-decoration: none;
            color: #262626;
        }

        .category-name{
            color: #ef493a;
        }


        .tags{
            padding-bottom: 15px;
            span{
                position: relative;
                display: inline-block;
                margin: 0 10px 0 15px;
                background: #a8a9ad;
                color: #fff;
                font-size: 12px;
                padding: 3px 18px 3px 5px;

                .fa {
                    position: absolute;
                    color: #a8a9ad;
                    top: -8px;
                    left: -13px;
                    font-size: 40px;
                }

                &:first-child{
                    background: #6d6e70;

                    & .fa{
                        color: #6d6e70;
                    }
                }
            }
        }

        img{
            width: 100%;
            height: auto;
        }

        .publishing{
            color:#959595;

            .pub-date{
                float:right;
                margin-right: 10px;
            }
        }

        h3{
            font-size: 18px;
            color: #1a1a1a;
            line-height: 1.2em;
            padding: 0;
            margin: 10px 0;
            font-weight: 600;
        }

        p{
            font-weight: 400;
            margin: 0 0 10px 0;
            padding: 0;
        }
        .article-content{
            padding: 10px 20px;
            font-size: 14px;
            line-height: 1.5;

            h3{
                font-size: 22px;
                line-height: 1.2;
                margin-bottom: 15px;

                &.landing{
                    font-size: 18px;
                }
            }

            .summary{
                font-weight: bold;
                margin-bottom: 25px;

                &.landing{
                    font-weight: normal;
                }
            }

            p{
                margin-bottom: 20px;
            }
        }
    }

    &.landing .item{
        border-bottom: 1px solid #ccc;
        margin-bottom: 2px;
        padding-bottom: 10px;
    }
}

// share widget
.share-widget{
    @extend %noselect;

    position: fixed;
    top: 100%;
    margin-top: -70px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;

    .share-summary{
        @extend %box-shadow;

        position: absolute;
        left: 0;
        top: 2px;
        width: 100%;
        height: 70px;
        cursor: pointer;
        padding: 10px;
        color: #a7a9ac;

        .share-counter{
            position: absolute;
            left: 15px;
            top: 0;
            height: 70px;
            width: 75px;
            line-height: 70px;
            font-size: 26px;
        }

        .fa{
            color: #00aeef;
        }
        .share-text{
            padding-left: 100px;
            max-width: 320px;
            font-size: 15px;
            line-height: 1.2;
            margin-top: 7px;
        }
    }
}

.navigation-widget{
    @extend %fixed-position;
    width: 0;
    min-width: 139px;
    height: 100%;

    &.like-panel{
        left: 0;
        right: auto;
        background: #009999;
    }

    &.skip-panel{
        right: 0;
        left: auto;
        background: #fb4238;
    }
}
.widget-label{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 1em;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.article-widget{
    @extend %fixed-position;
    background: #fff;
    overflow: hidden;
}
