// article listing
.articles{
    list-style: none;
    margin: 0;
    padding: 43px 0 20px;

    .item{
        margin: 15px 0 30px;
        text-align: left;
        a{
            display: block;
            text-decoration: none;
            color: #262626;
        }

        img{
            width: 100%;
            height: auto;
        }

        .publishing{
            color:#959595;
            font-weight: bold;

            .pub-date{
                font-weight: 300;
            }
        }

        h3{
            font-size: 18px;
            color: #1a1a1a;
            line-height: 1.2em;
            padding: 0;
            margin: 10px 0;
            font-weight: bold;
        }

        p{
            font-weight: 400;
            margin: 0 0 10px 0;
            padding: 0;
        }
        .article-content{
            padding: 10px 20px;
            font-size: 14px;
            line-height: 1.5;

            h3{
                font-size: 26px;
                line-height: 1.2;
                margin-bottom: 15px;

                &.landing{
                    font-size: 18px;
                }
            }

            .publishing{
                padding-bottom: 15px;
            }

            .summary{
                font-weight: bold;
                margin-bottom: 25px;

                &.landing{
                    font-weight: normal;
                }
            }

            p{
                margin-bottom: 20px;
            }
        }
    }
}

// share widget
.share-widget{
    @extend %noselect;

    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;

    .share-summary{
        @extend %box-shadow;

        position: absolute;
        left: 0;
        top: 2px;
        width: 100%;
        height: 70px;
        cursor: pointer;
        padding: 10px;
        color: #a7a9ac;

        .share-counter{
            position: absolute;
            left: 15px;
            top: 0;
            height: 70px;
            width: 75px;
            line-height: 70px;
            font-size: 26px;
        }

        .fa{
            color: #00aeef;
        }
        .share-text{
            padding-left: 100px;
            max-width: 320px;
            font-size: 15px;
            line-height: 1.2;
            margin-top: 7px;
        }
    }

}
