// article listing
.articles{
    list-style: none;
    margin: 0;
    padding: 43px 0 20px;

    .item{
        text-align: left;
        background: #fff;

        a{
            display: block;
            text-decoration: none;
            color: #262626;
        }

        .category-name{
            color: #ef493a;


        }

        .tags{
            padding-bottom: 15px;
            span{
                position: relative;
                display: inline-block;
                margin: 0 10px 0 15px;
                background: #a8a9ad;
                color: #fff;
                font-size: 12px;
                padding: 3px 18px 3px 5px;

                .fa {
                    position: absolute;
                    color: #a8a9ad;
                    top: -8px;
                    left: -13px;
                    font-size: 40px;
                }

                &:first-child{
                    background: #6d6e70;

                    & .fa{
                        color: #6d6e70;
                    }
                }
            }
        }

        img{
            width: 100%;
            height: auto;
        }

        .publishing{
            color:#959595;
            margin: 10px 0px 15px 0px;

            .feature-tag{
                background: rgba(152, 40, 62, 0.6) url("../img/africa_icon_sm.png") no-repeat left/22px;
                background-position: 6px 2px;
                padding: 5px 11px 7px 37px;
                border-radius: 10px;
                color: #fff;
                font-size: 1.5rem;
                font-weight: 100;

                img{
                    height: 25px;
                    margin-right: 9px;
                    margin-top: -5px;
                }
            }

            .pub-date{
                float:right;
                margin-right: 10px;
            }
        }

        h3{
            font-size: 18px;
            color: #1a1a1a;
            line-height: 1.2em;
            padding: 0;
            margin: 10px 0;
            font-weight: 600;
        }

        p{
            font-weight: 400;
            margin: 0 0 10px 0;
            padding: 0;
        }
        .article-content{
            padding: 10px 20px;
            font-size: 14px;
            line-height: 1.5;



            h3{
                font-size: 22px;
                line-height: 1.2;
                margin-bottom: 15px;

                &.landing{
                    font-size: 18px;
                }
            }

            .summary{
                font-weight: bold;
                margin-bottom: 25px;

                &.landing{
                    font-weight: normal;
                }
            }

            p{
                margin-bottom: 20px;
            }
        }
    }

    &.landing .item{
        padding-bottom: 10px;
    }
}

// share widget
.share-widget{
    @extend %noselect;

    position: fixed;
    top: 100%;
    margin-top: -70px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;

    .share-summary{
        @extend %box-shadow;

        position: absolute;
        left: 0;
        top: 2px;
        width: 100%;
        height: 70px;
        cursor: pointer;
        padding: 10px;
        color: #a7a9ac;

        .share-counter{
            position: absolute;
            left: 15px;
            top: 0;
            height: 70px;
            width: 75px;
            line-height: 70px;
            font-size: 1.9em;
        }

        .fa-share-alt{
            color: #00aeef;
        }
        .share-text{
            padding-left: 100px;
            max-width: 320px;
            font-size: 15px;
            line-height: 1.2;
            margin-top: 7px;
        }
    }
}
.article-panel{
    position: relative;
    background: #fff;
    z-index: 0;

    .item{
        position: fixed;
        top:0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
}

.navigation-widget{
    @extend %fixed-position;
    width: 0;
    min-width: 139px;
    height: 100%;

    &.like-panel{
        left: 0;
        right: auto;
        background: #009999;
    }

    &.skip-panel{
        right: 0;
        left: auto;
        background: #fb4238;
    }
}

.widget-label{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 1em;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.article-widget{
    @extend %fixed-position;
    background: #fff;
    height: 100%;
    overflow-x: hidden;
}
.share-buttons{
    padding:40px 10px 10px;
    max-width: 360px;
    margin: 0 auto;

    h4{
        color:#a8a9ad;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 25px;
    }

    a{
        display: block;
        font-size: 14px;
        color: #fff;
        margin: 10px 5px;
        padding: 12px 25px 12px 15px;
        border-radius: 3px;
        cursor: pointer;
        text-align: center;

        &.facebook{
            background: #2d609b;
        }
        &.twitter{
            background: #00c3f3;
        }
        &.whatsapp{
            background: #189d0e;
        }

        &:hover{
            color:#fff;
        }

        .fa{
            color: #fff;
            font-size: 18px;
            min-width: 25px;
        }
    }
}
#overlays{
    z-index: 1000;
    position: absolute;
    height: 100%;
    max-width: 415px;
    width: 100%;
    img.swipe-icon-big{
        margin-top: 0;
    }
    p{
        font-weight: 300;
    }
    h3{ color: #fff;
        font-size: 2.7rem;
        font-weight: 300;
        margin: 10px 0;
        line-height: 1.2em;}
    img{ width: 80%;}
    .swipe-up-icon-big{ width: 100%;}
    .instruction-icon-big-left{
        margin: -50px 0 0 -12em;
        width: 60%;
    }
    .instruction-icon-big-right{
        margin: -50px -12em 0 0;
        width: 60%;
    }
    .carousel-inner{ overflow:visible;}
    .button{ color: #fff;}
    #bg{background: rgba(0,0,0,0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

}

// search
.q-search{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: none;
    border: none;
    height: 100%;
    width: 100%;
    background: #98283e;
    color: #fff;
    padding: 5px 15px 5px 55px;
    font-size: 16px;
    outline: none;
}
.no-results{
    position: fixed;
    top: 50%;
    height: 40px;
    line-height: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    font-size: 16px;
    color:#ccc;
    visibility: hidden;

    &.count-0{
        visibility: visible;
    }
}
