.view-categories{
    @extend %clearfix;
    padding: 15px;
    text-align: center;

    .container-content{
        max-width: 300px;
        margin: 0 auto;

        @media #{$break-iphone-6-plus} {
            max-width: 320px;
        }
    }


    .widget-info{
        padding: 30px 0 20px;
        max-width: 300px;
        margin: 0 auto;

        @media #{$break-iphone-5} {
            margin-top:30px;
            padding-bottom: 30px;
        }

        @media #{$break-iphone-6} {
            margin-top:40px;
            padding-bottom: 40px;
        }

        @media #{$break-iphone-6-plus} {
            margin-top:40px;
            padding-bottom: 40px;

        }

        h1{
            text-transform: uppercase;
            font-weight: 300;
            font-size: 22px;
            line-height: 1;
            margin:15px 0 0 0;

            @media #{$break-iphone-6} {
                margin-bottom:25px;
            }
        }

    }

}
ul#categories{
    @extend %clearfix;
    list-style: none;
    margin: 0;
    padding: 0;

    li{
        width: 33%;
        float:left;
        text-transform: uppercase;
        border-right: 1px solid $category-border-color;
        border-top: 1px solid $category-border-color;
        font-weight: 300;
        font-size: 11px;


        .touch-icon{
            display: block;
            width: 35px;
            height: 35px;
            margin: 10px auto;
            overflow: hidden;
            // background: #cec0ce;
        }

        a{
            position: relative;
            display: block;
            color: #fff;
            font-size: 13px;
            padding: 7px 0;
            overflow: hidden;
        }

        &.selected a{
            background: rgba(255,255,255,0.1);
        }

        &:nth-child(3n){
            border-right: none;
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(3){
            border-top: none;
        }

        &:hover{
            @extend %transition;
            // background: rgba(225,225,225,0.2);
        }
        &:hover .touch-icon{
            @extend %transition;
            // background: #fff;
        }

        .fa{
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

}
