#wrapper{
    @extend %full-container;
}
.controller-container{
    width: 100%;
    // max-width: $container-width;
    margin: 0 auto;
}

.connect-panel{
    text-align: center;
    padding: 30px 10% 10px;
    color: #fff;

    .drop-logo {
        margin-top: 30px;

        @media #{$break-iphone-5} {
            margin:25px 0;
        }

        @media #{$break-iphone-6} {
            margin:4em 0 0em 0;
        }
        @media #{$break-iphone-6-plus} {
            margin:50px 0 0em 0;
        }
    }

    .register-panel {
        padding: 5px 0;

        @media #{$break-iphone-6-plus} {
            padding:30px 0;
        }
    }

    .facebook{
        background: #fff;
        color: #3d5b98;
        text-transform: none;
    }

    .twitter{
        background: #fff;
        color: #42b7e2;
        text-transform: none;
    }
    .explore{
        color: #fff;
        text-decoration: underline;
        font-size: 2em;
        font-weight: 300;
    }
    h2{
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.4em;
    }

    h3{
        font-size: 2.5em;
        font-weight: 300;
        margin: 10px 0;
        line-height: 1em;
        color: #fff;
    }
    p{
        font-weight: 300;
        font-size: 1.5em;
        margin-bottom: 0.25em;
    }

    .text-label{
        text-transform: uppercase;
    }

    .first-label{
        margin-bottom: 10px;
    }
    .terms {
        a {
            color: #ffffff;
        }
    }
    .cookie-warning {
        h2 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1.25rem;
        }
        a {
            color: #fff;
        }

    }
}
//loading - dropping
.dropping{
    margin-top: 40%;
}
// tour carousel

h6,h5,h4,h3,h2,h1{
    text-shadow: 2px 2px 2px rgba(21, 15, 15, 0.27);
}

img.swipe-icon{
    width: 100px;
    height: auto;

    @media #{$break-iphone-6} {
        width:100px;
    }
    @media #{$break-iphone-6-plus} {
        width:100px;
    }
}
img.africa-icon{
    margin-top: 15vh;
    margin-bottom: 42px;
}
img.swipe-icon-small{
    width: 50px;
    height: auto;

    @media #{$break-iphone-6} {
        width:50px;
    }
    @media #{$break-iphone-6-plus} {
        width:50px;
    }
}
img.swipe-icon-big{
    width: 240px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 3em;

    @media #{$break-iphone-6} {
        width:240px;
    }
    @media #{$break-iphone-6-plus} {
        width:240px;
    }
}
img.swipe-up-icon-big{
    width: 100%;
    height: auto;
    margin-top: 3rem;
} 
.col-sm-4{
    width: 30%;
    float: left;
    font-size: 1.5em;
}
.col-sm-8{
    width: 70%;
    float: left;
    text-align: left;
    line-height: 1.5em;
}
.tour-end{
    padding-top: 1.5em;
    margin-bottom: 2em;
    p{  clear: both;
        display: block;
        overflow: hidden;
        margin: 1.5em auto;
        width: 60%;
        span{float: left; width: 30%}
        .border{
            border-top:1px solid;
            float: left;
            width: 30%;
            margin-top: 10px;
        }
    }
}

.btn-customize{
    @extend %button-defaults;
    background: #e31c27;
    max-width: 270px;
    font-size: 14px;
    color:#fff;
    border-radius: 3px;
    margin: 0 auto 40px;
}
.btn-explore{
    @extend %button-defaults;
    background: transparent;
    border: 1px solid #fff;
    max-width: 270px;
    font-size: 14px;
    color:#fff;
    border-radius: 3px;
    margin: 0 auto;
}
.btn-customize:hover,
.btn-explore:hover{
    color: #fff;
}

.page1-intro {
    @media #{$break-iphone-5} {
        padding:25px 0;
    }
    @media #{$break-iphone-6} {
        padding:35px 0;
    }
    @media #{$break-iphone-6-plus} {
        padding:50px 0;
    }
}
