#wrapper{
    @extend %full-container;
}
.controller-container{
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
}
.connect-panel{
    text-align: center;
    padding: 20px;
    color: #fff;

    .drop-logo {
        margin-top: 60px;
    }

    .register-panel {
        padding: 30px 0 50px;
    }

    .facebook{
        background: #3d5b98;
        color: #fff;
    }

    .twitter{
        background: #42b7e2;
        color: #fff;
    }

    h3{
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 20px 0;
    }
    p{
        font-weight: 300;
        font-size: 13px;
    }

    .text-label{
        text-transform: uppercase;
    }

    .first-label{
        margin-bottom: 10px;
    }
}

.nav-bar{
    position: fixed;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: $nav-buttons-height;
    z-index: 999;

    .btn-icon{
        display: block;
        position: absolute;
        top:0;
        width: $nav-buttons-height;
        height: $nav-buttons-height;
        text-align: center;
        line-height: $nav-buttons-height;
        background: rgba(208,208,208,0);
        color: #fff;
        font-size: 18px;
    }

    .fixed-left{
        left: 0;
    }

    .fixed-right{
        right: 0;
    }
}
.article-nav{
    .nav-bar{
        background: #fff;
        .btn-icon{
            color: #262626;
        }
    }
}
