.nav-bar{
    position: fixed;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: $nav-buttons-height;
    z-index: 999;

    .btn-icon{
        display: block;
        position: absolute;
        top:0;
        width: $nav-buttons-height;
        height: $nav-buttons-height;
        text-align: center;
        line-height: $nav-buttons-height;
        background: rgba(208,208,208,0);
        color: #fff;
        font-size: 18px;
    }

    .fixed-left{
        left: 0;
    }

    .fixed-right{
        right: 0;
    }
}
.article-nav{
    .nav-bar{
        background: #fff;
        .btn-icon{
            color: #262626;
        }
    }
}
