<div class="controller-container">

    <div class="article-nav">
        <div ng-include src="'partials/navbar.html'"></div>
    </div>

    <ul id="articles" class="articles landing">
        <li ng-repeat="article in articles" id="post_{{article.id}}">
            <a ui-sref="article({articleId:article.id})">
                <img ng-src="assets/img/post.jpg" />
                <div class="publishing">
                    <span class="post-category">{{article.category}}</span>
                </div>
                <h3>{{article.title}}</h3>
                <p>
                    {{article.summary}}
                </p>

                <div class="publishing">
                    <span class="pub-date">{{article.created_at|amDurationFormat : 'minute' }}</span>
                </div>
            </a>
        </li>
    </ul>
</div>
