<div class="controller-container">

    <div class="article-nav">
        <div class="nav-bar main-nav">
            <a ui-sref="categories"  class="btn-icon fixed-left">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#" class="btn-icon fixed-right">
                <i class="fa fa-search"></i>
            </a>
        </div>
    </div>

    <ul id="articles" class="articles landing">
        <li ng-repeat="article in articles" id="post_{{article.id}}">
            <a ui-sref="article({articleId:article.id})">
                <img ng-src="assets/img/post.jpg" />
                <div class="publishing">
                    <span class="post-category">{{article.category}}</span>
                </div>
                <h3>{{article.title}}</h3>
                <p>
                    {{article.summary}}
                </p>

                <div class="publishing">
                    <span class="pub-date">{{article.created_at|amDurationFormat : 'minute' }}</span>
                </div>
            </a>
        </li>
    </ul>
</div>
