<div class="controller-container">
    <div class="article-nav">
        <div ng-include src="'partials/navbar.html'"></div>
    </div>

    <ul id="articles" class="articles">
        <li id="post_{{article.id}}">
            <a href="#/article/{{article.id}}">
                <img ng-src="{{article.image_url}}" />

                <div class="article-content">
                    <h3>{{article.title}}</h3>

                    <div class="publishing">
                        <span class="pub-date">{{article.created_at|amCalendar}}</span>
                    </div>

                    <div class="summary">
                        {{article.summary}}
                    </div>

                    <div ng-bind-html="article.body|nl2p" class="body"></div>

                </div>

            </a>
        </li>
    </ul>
</div>
