<div class="controller-container">
    <div class="article-nav">
        <div class="nav-bar main-nav">
            <a ui-sref="articles" class="btn-icon fixed-left">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a href="#" class="btn-icon fixed-right">
                <i class="fa fa-share-alt"></i>
            </a>
        </div>
    </div>

    <div class="navigation-widget like-panel" style="width:{{panelWidth}}px; min-width:{{articleLeft}}%; visibility:{{likeVisible}};">
        <div class="widget-label">Like</div>
    </div>

    <div class="navigation-widget skip-panel" style="width:{{panelWidth}}px; min-width:{{articleRight}}%; visibility:{{skipVisible}};">
        <div class="widget-label">Skip</div>
    </div>

    <div
        id="articles"
        class="articles article-widget"
        hm-dragstart="dragStart($event, 'horizontal')"
        hm-drag="dragging($event, 'horizontal')"
        hm-dragend="dragEnd($event, 'horizontal')"
        style="transform: translate({{translateX}}px,0); left:{{articleLeft}}%; right:{{articleRight}}%;"
    >
        <div id="post_{{article.id}}" class="item">
            <!-- <img ng-src="{{article.image_url}}" /> -->
            <img ng-src="http://lorempixel.com/420/230/sports/?{{article.id}}" />

            <div class="article-content">
                <h3>{{article.title}}</h3>

                <div class="publishing">
                    <span class="pub-date">{{article.created_at|amCalendar}}</span> |
                    <span class="category-name">{{article.category.name}}</span>
                </div>

                <div class="summary">
                    {{article.summary}}
                </div>

                <div ng-bind-html="article.body|nl2p" class="body"></div>

            </div>
        </div>
    </div>

    <div
        class="share-widget"
        hm-dragstart="dragStart($event, 'verticle')"
        hm-drag="dragging($event, 'verticle')"
        hm-dragend="dragEnd($event, 'verticle')"
        hm-tap="toggleDrawer"
        style="transform: translate(0,{{translateY}}px); margin-top:{{drawerOffset}}px; top:{{drawerTop}}%;"
    >

        <div class="share-summary" >
            <div class="share-inner">
                <div class="share-counter">
                    <i class="fa fa-share-alt"></i>
                    51K
                </div>

                <div class="share-text">
                    Swipe up to share this story with your friends
                </div>
            </div>
        </div>

    </div>

</div>
