<div class="controller-container">
    <div class="article-nav">
        <div class="nav-bar main-nav">
            <a ui-sref="articles" class="btn-icon fixed-left">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a href="#" class="btn-icon fixed-right">
                <i class="fa fa-share-alt"></i>
            </a>
        </div>
    </div>

    <ul id="articles" class="articles">
        <li id="post_{{article.id}}">
            <img ng-src="{{article.image_url}}" />

            <div class="article-content">
                <h3>{{article.title}}</h3>

                <div class="publishing">
                    <span class="pub-date">{{article.created_at|amCalendar}}</span>
                </div>

                <div class="summary">
                    {{article.summary}}
                </div>

                <div ng-bind-html="article.body|nl2p" class="body"></div>

            </div>
        </li>
    </ul>
</div>
