<div class="controller-container">

    <div class="nav-bar">
        <a href="#articles" class="btn-icon fixed-left">
            <i class="fa fa-arrow-left"></i>
        </a>
        <a href="#" class="btn-icon fixed-right">
            <i class="fa fa-cog"></i>
        </a>
    </div>

    <div class="widget-info">
        <h1>Choose new categories</h1>
        <p>
            Tell us some of your interests
        </p>
    </div>

    <ul id="categories">
        <li ng-repeat="category in categories" id="cat_id_{{category.id}}">
            <a href="#/articles">
                <i class="touch-icon">
                    <img src="http://app.ongair.im/api{{category.image_url}}" />
                </i>
                <span>{{category.name}}</span>
            </a>
        </li>
    </ul>
</div>
