<div class="controller-container">

    <div class="nav-bar">
        <a href="#articles" class="btn-icon fixed-left">
            <i class="fa fa-arrow-left"></i>
        </a>
        <a href="#" class="btn-icon fixed-right">
            <i class="fa fa-cog"></i>
        </a>
    </div>

    <div class="widget-info">
        <h1>Make Drop your own</h1>
        <p>
            One more thing, you can make DROP your own, follow the stories that matter to you most and keep
        </p>
    </div>

    <ul id="categories">
        <li ng-repeat="category in categories" id="cat_id_{{category.id}}">
            <a href="#/articles">
                <i class="touch-icon"></i>
                <span>{{category.name}}</span>
            </a>
        </li>
    </ul>
</div>
