<!-- article overlays -->
<div class="owl-carousel articles landing" id="overlays">
    <div id="bg"></div>
    <carousel  interval="0" no-wrap="false">

    <slide class="item">
        <div class="connect-panel">
            <img src="assets/img/swipe-directions.png" alt="" class="swipe-icon-big" />
            <div class="register-panel page-2-steps">
                <h3>Swipe to get the next story</h3>
                <br>
                <p>Swipe right to like it</p>
                <p>Swipe left to dismiss a story</p>
                <p>Swipe up on a Story to read it</p>
                <a ng-click="" class="button"><i class=""></i>Got it</a>
            </div>
        </div>
    </slide>

    <slide class="item">
        <div class="connect-panel">
            <div class="register-panel page-4-steps">
                <h3>Share great stories with your friends</h3>
                <img src="assets/img/swipe-up.png" alt="" class="swipe-up-icon-big" />

                <div class="row">
                    <div class="col-sm-4"><i class="fa  fa-share-alt"></i> 51K </div>
                    <div class="col-sm-8">
                    <p>Swipe up to share this story with your friends </p>
                    </div>
                </div>
                <a ng-click="" class="button"><i class=""></i>Got it</a>
            </div>
        </div>
    </slide>

    <slide class="item">
        <div class="connect-panel">
            <img src="assets/img/menu-pointer.png" alt="" class="instruction-icon-big-left" />
            <div class="register-panel page-2-steps">
                <h3>Click here to edit your
                    profile and personlise
                    your Drop</h3>
                <br>
                <a ng-click="" class="button"><i class=""></i>Got it</a>
            </div>
        </div>
    </slide>

    <slide class="item">
        <div class="connect-panel">
            <img src="assets/img/search-pointer.png" alt="" class="instruction-icon-big-right" />
            <div class="register-panel page-2-steps">
                <h3>Search for topics and
                    let’s get the drop
                    for you</h3>
                <br>
                <a ng-click="" class="button"><i class=""></i>Got it</a>
            </div>
        </div>
    </slide>

    </carousel>
</div>
