<div class="controller-container">

<div class="owl-carousel landing dropping" id="articles">
    <carousel  interval="0" no-wrap="false">
    
        <slide class="item">
            <div class="connect-panel">
                <img src="assets/img/thumbs-up.png" alt="BBC Drop" class="swipe-icon-small" />
                <div class="register-panel">
                    <h3>You are ready to go 
                        Getting your drop ready....</h3>
                    <div class="page1-intro">
                       <img src="assets/img/loading.gif" alt="loading BBC Drop" class="swipe-icon-small" />
                    </div>
                </div>
            </div>
        </slide>

    </carousel>
</div>
