<div class="login controller-container">

    <div class="connect-panel">

        <img src="assets/img/logo.png" alt="BBC Drop" class="drop-logo" />

        <div class="register-panel">
            <h3>Register</h3>
            <p>
                One more thing, you can make DROP your own, follow the stories that matter to you most and keep
            </p>
        </div>

        <div class="text-label first-label">
            Login With
        </div>

        <a ng-click="authenticate('facebook')" class="btn facebook"><i class="fa fa-facebook"></i> Facebook </a>

        <div class="text-label">
            Or
        </div>

        <a ng-click="authenticate('twitter')" class="btn twitter"><i class="fa fa-twitter"></i> Twitter</a>

        <a ng-click="signOut()" class="btn"><i class="fa fa-logout"></i> Logout</a>
        
    </div>
</div>
