<div class="connect-panel">
    <img src="assets/img/heart.png" alt="" class="swipe-icon-small" />
    <div class="register-panel page-5-steps">
        <h3>Please Login to customise your preferences</h3>
        <div class="tour-end">
            <a ng-click="authenticate('facebook')" class="button facebook"><i class="fa fa-facebook"></i>Connect with Facebook
            </a>
            <a ng-click="authenticate('twitter')" class="button twitter"><i class="fa fa-twitter"></i>Connect with Twitter</a>
            <p>
            <span class="border"></span>
            <span>
            or
            </span>
            <span class="border"></span>
            </p>
            <a ui-sref="articles" class="explore"><i class="explore"></i> Just Explore</a>
        </div>
    </div>
</div>
