<div class="controller-container">

    <div class="article-nav">
        <div class="nav-bar main-nav">
            <a ui-sref="customize"  class="btn-icon fixed-left">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#" class="btn-icon fixed-right">
                <i class="fa fa-search"></i>
            </a>
        </div>
    </div>

    <div id="articles" class="articles landing">
        <div ng-repeat="article in articles" class="item">
            <a ui-sref="article({articleId:article.id})">
                <!-- <img ng-src="{{article.image_url}}" /> -->
                <img ng-src="http://lorempixel.com/420/230/sports/?{{article.id}}" />
                <div class="article-content">
                    <div class="category-name">{{article.category.name}}</div>
                    <h3 class="landing">{{article.title}}</h3>

                    <div class="tags">
                        <span>Sports <i class="fa  fa-caret-left"></i></span>
                        <span>Middle East <i class="fa  fa-caret-left"></i></span>
                        <span>Africa <i class="fa  fa-caret-left"></i></span>
                    </div>

                </div>
            </a>
        </div>
    </div>

</div>
