<div class="controller-container">

<div class="owl-carousel landing" id="articles">
    <carousel  interval="0" no-wrap="false">
    
        <slide class="item">
            <div class="connect-panel">
                <img src="assets/img/thumbs-up.png" alt="BBC Drop" class="swipe-icon-small" />
                <div class="register-panel">
                    <h3>Good Stuff!</h3>
                    <p>
                        You liked your first story.
                        The more you swipe the more drop learns and gets you stories that you will love.
                        </p>
                        <p>
                        Sign in to personalize
                        your experience
                    </p>
                    <div class="tour-end">
                        <a ng-click="authenticate('facebook')" class="button facebook"><i class="fa fa-facebook"></i>Connect with Facebook 
                        </a>
                        <a ng-click="authenticate('twitter')" class="button twitter"><i class="fa fa-twitter"></i>Connect with Twitter</a>
                        <p>
                        <span class="border"></span>
                        <span>
                        or
                        </span>
                        <span class="border"></span>
                        </p>
                        <a ng-click="" class="explore"><i class="explore"></i> Just Explore</a>
                    </div>
                    <div class="page1-intro">
                       <i class="fa  fa-loading"></i>
                    </div>
                </div>
            </div>
        </slide>

        <slide class="item">
            <div class="connect-panel">
                <img src="assets/img/thumbs-up.png" alt="BBC Drop" class="swipe-icon-small" />
                <div class="register-panel">
                    <h3>Good Stuff!</h3>
                    <p>
                        You liked your first story.
                        The more you swipe the more drop learns and gets you stories that you will love.
                        </p>
                        <p>
                        Happy Swiping
                    </p>
                    
                </div>
            </div>
        </slide>

    </carousel>
</div>
