<div
    class="share-widget"
    hm-dragstart="drawerStartDragging($event)"
    hm-drag="drawerDragging($event)"
    hm-dragend="drawerEndDragging($event)"
    style="transform: translate(0,{{drawer.translateY}}px); margin-top:{{drawer.offset}}px; top:{{drawer.top}}%;"
>

    <div class="share-summary">
        <div class="share-inner" hm-tap="toggleDrawer">
            <div class="share-counter">
                <i class="fa fa-share-alt"></i>
                51K
            </div>

            <div class="share-text">
                Swipe up to share this story with your friends
            </div>
        </div>
        <div class="share-buttons">
            <h4>Share to...</h4>
            <a ng-click="share('facebook')" class="facebook"><i class="fa fa-facebook"></i> Share on Facebook</a>
            <a ng-click="share('twitter')" class="twitter"><i class="fa fa-twitter"></i> Tweet on Twitter</a>
            <a ng-click="share('whatsapp')" class="whatsapp"><i class="fa fa-whatsapp"></i> Send on WhatsApp</a>
        </div>
    </div>

</div>
