<div class="controller-container">

    <div class="terms">
        <h2>Terms of Use</h2>
        <p>
            You can use BBC Drop to consume and share BBC News and Programme content provided You comply with the <a href="http://www.bbc.co.uk/terms" target="_blank">BBC Term of Use.</a>
        </p>
        <p>
            To access BBC Drop personalisation and sharing features, You will need to login using Facebook or Twitter.   BBC will collect Your personal data:  If logging in from Facebook, this will including your Facebook ID, gender and age.  If logging in with Twitter, Your Twitter ID will be recorded.
        </p>

        <p>
            The BBC Drop pilot is a web application targeted at African your mobile users who predominantly use Android smartphones.  It may not work as effectively on other mobile devices, or may not work on certain devices.
        </p>

        <p>
            BBC Drop is a pilot project and as such it may deliver unexpected results, including articles that do not match their categorisation or that repeat.   Try, rate and share Your experiences with us and we welcome your feedback.
        </p>
    </div>

</div>
