.button{
    @extend %button-defaults;
    position: relative;
    display: block;
    width: 80%;
    max-width: $button-max-width;
    background: #dd2515;
    color: #fff;
    margin: 15px auto;
    border-radius: $button-radius;
    font-weight: 600;

    &.white{
        background: #FFF;
        color:#762b4e
    }

    &.customize{
        text-transform: none;
        font-size: 16px;
        max-width: 170px;
        text-align: left;
        padding-left: 20px;
        margin-top: 35px;

        & .fa{
            right: 0;
            left: auto;
            font-size: 16px;
        }
    }

    .fa {
        @extend %button-defaults;
        position: absolute;
        top: 0;
        width: 46px;
        font-size: 20px;
    }
}
