/* Base styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    @include font-face();
    font-size: 13px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}
.drop-logo{
    text-align: center;
    width: 100%;
    max-width: 125px;
    height: auto;

    @media #{$break-iphone-6} {
        max-width: 135px;
    }

    @media #{$break-iphone-6-plus} {
        max-width: 150px;
    }
}
.view-categories,
.view-login,
.view-tour
{
    @include background-image("main-bg.jpg");
    color: #fff;
}
.controller-container{
    @extend %clearfix;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
// fix for bootstrap cursor
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// fix for carousel indicators on white background
.carousel-indicators{
    position: fixed;
}
.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70,70,70,.25);
}
.carousel-indicators .active {
    background-color: #444;
}
