$font-family: 'Open Sans', sans-serif;
$path-img: '../img';

$container-width: 415px;
$button-max-width: 315px;
$button-height: 46px;
$button-radius: 3px;

// borders
$category-border-color: #9a5f78;
